
<!-- Product Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 style="margin-top: 0px;" class="page-header">{{title}}
            <small>{{slogan}}</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Product Item Row -->
<div class="row">

    <div class="col-md-6">
        <img class="img-responsive" src="views/{{img_url}}" alt="{{title}}">
    </div>

    <div class="col-md-6">
        <h3>Product Description  <small data-toggle="tooltip" data-placement="top" title="Search this category"><a href="search.php?search_item={{category}}"><span class="label label-info">{{category}}</span></a></small> </h3>




        <div class="ratings" style="padding-left: 0px;">
            {{rating}}
        </div>

        <p>
            {{description}}
        </p>

        <!--&lt;!&ndash;<form action="#" role="form" method="post">&ndash;&gt;-->
        <!--<button class="btn btn-primary" btn-data-id="{{_id}}" data-loading-text="Adding to cart ..." type="submit">-->
            <!--Add to cart-->
            <!--&lt;!&ndash;<span class="glyphicon glyphicon-chevron-right"></span>&ndash;&gt;-->
        <!--</button>-->
        <!--&lt;!&ndash;</form>&ndash;&gt;-->

    </div>

</div>