<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
        #search_input{
            margin-right: 100px;
            width:100%;
        }

        .has-nav{
            padding-top: 70px;
        }


        form[role="search"]{
            margin-right: 30%;
        }
    </style>

    <link rel="stylesheet" href="libs/bootstrap.min.css">
</head>
<body>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.php">
                CART- APP
            </a>
        </div>
        <a href="index.php" class="btn navbar-btn btn-info">Home</a>
        <a href="admin.php" class="btn navbar-btn btn-info">Upload</a>


        <form class="navbar-form navbar-right" action="search.php" method="get" role="search">
        <div class="form-group">
        <input type="text" id="search_input" class="form-control" name="search_item" placeholder="Search title,slogan,category,description">
        </div>
        <button type="submit" class="btn btn-default">Search</button>


        </form>
        <p class="navbar-text navbar-right" id="loggedInUserName">Signed in as <a href="#" class="navbar-link"></a></p>


    </div>
</nav>



<div class="container-fluid has-nav">

    <!--when no results-->
    {{^items}}
    <div class="text-center">
        <h3 class="jumbotron">
            NO RESULTS FOUND !
        </h3>
    </div>
    {{/items}}

    <div class="row">
        <div class="col-md-2">
            <ul class="list-group text-center">
                <!--<h4 class="page-header">Categories</h4>-->
                <!--{{#categories}} {{>partials/category}} {{/categories}}-->
            </ul>
        </div>
        <div class="col-md-9 items">
            {{#items}}  {{>partials/items}}  {{/items}}


        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <nav>
                <ul class="pagination">
                    <!--<li>-->
                    <!--<a href="#" aria-label="Previous">-->
                    <!--<span aria-hidden="true">&laquo;</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    {{#pagination}} {{>partials/pagination.html}}  {{/pagination}}
                    <!--<li>-->
                    <!--<a href="#" aria-label="Next">-->
                    <!--<span aria-hidden="true">&raquo;</span>-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>
            </nav>
        </div>
    </div>
</div>


<script src="libs/jquery.min.js"></script>
<script src="libs/bootstrap.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();

        if (window.localStorage.getItem("username")){
            console.log(window.localStorage.getItem("username"));
            $("#loggedInUserName > a").text(window.localStorage.getItem("username"));

        }//if

        //click listeners to all buttons inside the items container

        $(".items  button").each(function(){

            var eachbtn = $(this);

            eachbtn.click(function(e){

                e.preventDefault();
                console.log($(e.target).attr("btn-data-id"));
            });

        });//each

    });//jquery
</script>
</body>
</html>